@font-face {
  font-family: DrukWideSuper;
  src: url("DrukWideSuper.otf") format("opentype");
}

@font-face {
  font-family: DrukCondSuper;
  src: url("DrukCondSuper.otf") format("opentype");
}

@font-face {
  font-family: HelveticaNeue-Bold;
  src: url("HelveticaNeue-Bold.otf") format("opentype");
}

@font-face {
  font-family: HelveticaNeueRegular;
  src: url("HelveticaNeueRegular.otf") format("opentype");
}
