* {
  margin:0;
  padding:0
}

hr {
  margin:10px 0
}

header,footer {
  height:64px;
  border:#D8D8D8 solid 1px;
  z-index:1
}

header {
  overflow:hidden;
  top:0;
  width:100%;
  height:80px;
  background-color:#fff;
  position:fixed;
  display:block
}

header > div {
  margin:0 20px
}

.bMenu {
  font-size:60px;
  font-family:DrukCondSuper;
  float:left;
  display:flex;
  align-items:center;
  height:100%;
  overflow:hidden
}

.iconBeers {
  float:right;
  font-family:AppleColorEmoji;
  font-size:40px;
  display:flex;
  align-items:center;
  height:100%;
  overflow:hidden;
  margin-right:24px;
  width:64px
}

.iconBeers img {
  margin-right:24px;
  width:53px
}

.iconBeers:hover {
  animation:shaken 2s cubic-bezier(.36,.07,.19,.97) both;
  transform:translate3d(0,0,0)
}

footer {
  width:100%;
  height:64px;
  background-color:#fff;
  position:fixed;
  bottom:0;
  overflow:hidden;
  display:block
}

.cheers {
  float:left;
  font-family:HelveticaNeue-Bold;
  font-size:17px;
  text-transform:uppercase
}

.punkApi {
  float:right;
  font-family:HelveticaNeueRegular;
  font-size:17px;
  text-transform:uppercase
}

.cheers,.punkApi {
  margin:20px
}

.app {
  -webkit-transition-property:left;
  -webkit-transition-duration:.6s;
  -webkit-transition-timing-function:cubic-bezier(0.67,0.02,0.2,0.97);
  transition-property:left;
  transition:left .6s cubic-bezier(0.67,0.02,0.2,0.97)
}

.background::before {
  content:attr(data-text);
  width:100%;
  top:-200px;
  white-space:nowrap;
  writing-mode:vertical-rl;
  z-index:-999;
  display:flex;
  overflow:hidden;
  align-items:center;
  position:absolute;
  font-family:DrukWideSuper;
  font-size:442px;
  text-transform:uppercase;
  color:#FFCF00
}

.background::selection {
  color:#fff
}

section {
  overflow:hidden;
  margin-left:auto;
  margin-right:auto;
  right:0;
  left:0;
  min-width:335px;
  max-width:1000px;
  position:absolute;
  transform:translate(0,0);
  top:64px;
  padding-bottom:120px;
  -webkit-transition-property:translate;
  -webkit-transition-duration:.6s;
  -webkit-transition-timing-function:cubic-bezier(0.67,0.02,0.2,0.97);
  transition-property:translate;
  transition:.6s cubic-bezier(0.67,0.02,0.2,0.97)
}

section .beer-items:first-child {
  padding-top:60px
}

.beer-items:nth-child(2n) {
  flex-direction:row-reverse;
  position:relative
}

.beer-info > * {
  margin-top:14px
}

.beer-items:nth-child(2n) .beer-info {
  text-align:left
}

.beer-items:nth-child(2n) > .beer-info .seeMore {
  float:left
}

.beer-items {
  min-width:345px;
  display:flex;
  align-items:center;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  -webkit-animation:fadein .5s;
  -moz-animation:fadein 1s;
  -ms-animation:fadein 1s;
  -o-animation:fadein 1s;
  animation:fadein .5s
}

@keyframes fadein {
  from {
    opacity:0
  }

  to {
    opacity:1
  }
}

@-moz-keyframes fadein {
  from {
    opacity:0
  }

  to {
    opacity:1
  }
}

@-webkit-keyframes fadein {
  from {
    opacity:0
  }

  to {
    opacity:1
  }
}

@-ms-keyframes fadein {
  from {
    opacity:0
  }

  to {
    opacity:1
  }
}

@-moz-keyframes fadein {

  from {
    opacity:0
  }

  to {
    opacity:1
  }
}

@-o-keyframes fadein {
  from {
    opacity:0
  }

  to {
    opacity:1
  }
}

.beer-info {
  width:50%;
  color:#000;
  text-align:right;
  margin:0 auto;
  text-transform:uppercase
}

.beer-info h2 {
  font-family:DrukCondSuper;
  overflow:hidden;
  font-size:60px;
  line-height:47px
}

.beer-info p {
  font-family:HelveticaNeue-Bold;
  font-size:14px
}

.beer-info :nth-child(2) {
  margin:14px 0
}

.seeMore {
  color:#fff;
  background-color:#000;
  text-align:center;
  width:180px;
  height:49px;
  font-size:14px!important;
  float:right;
  line-height:45px
}

.beer-img {
  margin:auto
}

.beer-img img {
  width:150px
}

.cross {
  opacity:0;
  display:flex;
  position:absolute;
  align-items:center;
  overflow:hidden;
  left:50%;
  transform:translate(-50%,0);
  right:32px;
  margin:0;
  width:34px;
  height:100%;
  -webkit-transition-property:opacity;
  -webkit-transition-duration:.6s;
  -webkit-transition-timing-function:cubic-bezier(0.67,0.02,0.2,0.97);
  transition-property:opacity;
  transition:.6s cubic-bezier(0.67,0.02,0.2,0.97)
}

.cross:before,.cross:after {
  position:absolute;
  left:15px;
  content:' ';
  height:33px;
  width:2px;
  background-color:#333
}

.cross:before {
  transform:rotate(45deg)
}

.cross:after {
  transform:rotate(-45deg)
}

.modal {
  position:fixed;
  top:0;
  background-color:#fff;
  width:100%;
  height:calc(100% - 128px);
  padding:73px 0;
  transform:translate(0,0);
  display:flex;
  left:100%;
  -webkit-transition-property:translate;
  -webkit-transition-duration:.6s;
  -webkit-transition-timing-function:cubic-bezier(0.67,0.02,0.2,0.97);
  transition-property:translate;
  transition:.6s cubic-bezier(0.67,0.02,0.2,0.97)
}

.modal > * {
  padding:40px 80px;
  width:calc(100vw/2);
  border-right:#D8D8D8 solid 1px;
  border-bottom:#D8D8D8 solid 1px;
  position:relative
}

.modal-img > * {
  margin:auto;
  position:relative;
  overflow:hidden
}

.modal-img img {
  position:absolute;
  display:inline-block;
  height:85%;
  left:0;
  top:0;
  bottom:0;
  right:0;
  margin:auto;
  width:auto
}

.modal-img > h2 {
  font-family:DrukCondSuper;
  color:#FFCF00;
  font-size:17vw;
  text-align:center;
  width:100%;
  height:100%;
  z-index:-1;
  text-transform:uppercase;
  align-items:center;
  display:flex;
  justify-content:center
}

.modal-info {
  overflow:auto
}

.modal-info .title {
  font-size:64px;
  font-family:DrukCondSuper;
  text-transform:uppercase
}

.modal-info .punchLine {
  font-size:20px;
  padding:20px 0;
  font-family:HelveticaNeue-Bold;
  text-transform:uppercase
}

.description {
  padding:20px 0;
  font-family:HelveticaNeueRegular;
  font-size:14px;
  line-height:22px
}

.categorie {
  font-family:HelveticaNeue-Bold;
  text-transform:uppercase;
  color:#CCC
}

.listDetails {
  list-style-type:none;
  padding:0;
  display:inline-block;
  margin:0;
  width:80%;
  text-align:right;
  right:0
}

.property {
  display:inline-block;
  width:20%;
  vertical-align:top;
  font-family:HelveticaNeue-Bold;
  text-transform:uppercase;
  font-size:14px
}

.value {
  text-align:right;
  list-style-position:inside;
  font-family:HelveticaNeueRegular
}

.valueAbv {
  width:80%;
  padding:0;
  display:inline-block;
  text-align:right;
  font-family:HelveticaNeueRegular
}

@media (min-width: 1200px) {
  section .beer-items:first-child {
    padding-top:initial
  }

  section {
    max-width:1200px
  }

  .beer-info h2 {
    font-size:80px;
    line-height:64px
  }

  .background::before {
    font-size:884px;
    top:-120px
  }

  .iconBeers img {
    margin-right:24px;
    width:64px
  }

  .bMenu {
    font-size:80px;
    margin-left:60px
  }

  body {
    position:relative;
    overflow:visible
  }

  section {
    overflow:hidden;
    top:-230px;
    max-width:1200px;
    padding-bottom:110px
  }

  .beer-items {
    margin-top:350px;
    width:540px;
    height:700px;
    max-width:initial;
    min-width:initial
  }

  .beer-img img {
    width:180px
  }

  .beer-info {
    width:initial;
    margin:0 60px 0 0
  }

  .beer-items:nth-child(even) {
    top:350px;
    float:right
  }

  .beer-items:nth-child(2n) .beer-info {
    margin:0 0 0 60px
  }

  .beer-items:nth-child(odd) {
    right:initial;
    float:left
  }
}

@media (max-width: 986px) {
  .modal {
    display:initial;
    width:100vw;
    overflow-y:auto
  }

  .modal > * {
    height:max-content;
    width:initial;
    overflow:hidden;
    padding:40px 30px
  }

  .modal-img > h2 {
    height:35vh
  }

  .valueAbv {
    width:80%
  }
}

@keyframes shaken {
  from {
    transform:rotate(0) translate(0)
  }

  30% {
    transform:rotate(-5deg) translate(20px)
  }

  50% {
    transform:rotate(10deg) translate(-20px)
  }

  to {
    transform:rotate(0) translate(0)
  }
}
